<!DOCTYPE html>
<html>
  <head>
    
    {% block head %}
    <meta charset="utf-8">
    <title>{{ title }} - Songs</title>
    <link rel="stylesheet" href="{{ urlFor('root') }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ urlFor('root') }}bootstrap/css/bootstrap-responsive.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="demo">
    <meta name="author" content="sanrodari">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    {% endblock %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Songs</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              {% if sessionUser() %}
                Bienvenido
                <a href="{{ urlFor('editUser', {id: sessionUser().id}) }}">{{ sessionUser().username }}</a>
                <a href="{{ urlFor('sessions') }}" title="Cerrar sesión" data-close-session>
                  <i class="icon-remove icon-white"></i>
                </a>
              {% endif %}
            </p>
            <ul class="nav">
              <li class="active">
                <a href="{{ urlFor('songs') }}">Home</a>
              </li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="clear"></div>

    <div class="container-fluid">
      <div class="row-fluid">

        {% if sessionUser() %}
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><a href="{{ urlFor('songs') }}">Canciones</a></li>
              <li><a href="{{ urlFor('newSong') }}">Nueva canción</a></li>
              <li>
                <a href="{{ urlFor('editUser', {id: sessionUser().id}) }}">Cambiar contraseña</a>
              </li>
              <li>
                <a href="{{ urlFor('sessions') }}" data-close-session>
                  <i class="icon-remove"></i> Cerrar sesión
                </a>
              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        {% endif %}

        <div class="span9">
          {% block content %}{% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Uniquindio 2013</p>
      </footer>

    </div>

    <!-- Se cargan los JS -->
    <script src="{{ urlFor('root') }}js/jquery-2.0.0.min.js"></script>
    <script src="{{ urlFor('root') }}js/app.js"></script>
    <script src="{{ urlFor('root') }}bootstrap/js/bootstrap.min.js"></script>

    {% for js in scripts %}
      <script src="{{ urlFor('root') }}js/{{ js }}"></script>  
    {% endfor %}
  </body>
</html>